---
title: Arma 2 | Swedish Forces Pack
downloads:
  armaholic: 11586
images:
  -
    path: images/assembly.jpg
    title: Soldiers at assembly
  -
    path: images/hkp4.jpg
    title: Hkp 4 on a supply mission
  -
    path: images/saab105.jpg
    title: Saab 105 parked in Takistan
  -
    path: images/sniper_team.jpg
    title: Sniper inserted by helicopter
  -
    path: images/infantry.jpg
    title: Infantry securing crossroads
  -
    path: images/jas39.jpg
    title: JAS 39 on a CAS mission
  -
    path: images/patgb203.jpg
    title: Patgb 203 supporting
  -
    path: images/ptgb6.jpg
    title: Routine patrol with the Ptgb 6
videos:
  -
    id: BDGD_NPQnkU
    title: Montage Trailer
  -
    id: rZH58dLolx0
    title: Unofficial Trailer
  -
    id: 4yi_LufoacM
    title: SFP 2015
---

<div class="container">
  <h1>Arma 2</h1>
</div>

<div class="container">
  <h2>Description</h2>

  <p>
    It didn't feel that long time ago but I guess its been, sorry for the delay.
    Since the first public release (August 2010), we been constantly playing at Anrop.se and I am happy to say that we feel the 2015 scenario addons is fully playable at this stage.
    Some addons requires and will get more work, but it should be enough to keep people happy and enjoy the mod.
  </p>

  <p>
    So now its time to share the updated 2015, but as a bonus we will throw in the "second part" of the mod, the 1981 cold war scenario.
  </p>

  <p>
    Based on the submarine U-137 that went aground out a Swedish naval base 1981 our aim is to fcous on what would had happend if the Soviet decided to take it back with force.
  </p>

  <p>
    One island is included which we are far from completed, but its also a "call for help", we hope someone will download it, get inspired and join our crew. We really need someone thats skilled with making the satelite/mask mapping for the ground textures. The placement, missions we can do.
  </p>

  <p>
    <h3>2015 scenario</h3>

    <ul>
      <li>2 Aircrafts, Saab JAS 39 Griffin and the Saab 105 in a "counter insurgency" configuration.</li>
      <li>2 helicopters, the NH 90 and the A109.</li>
      <li>Swedish version of the famous Leopard 2 tank and the Swedish Cv 90 IFV.</li>
      <li>The Xa-203 wheeled APC.</li>
      <li>The RGM 32 patrol vehicle.</li>
      <li>Soldiers in desert, woodland and winter uniforms.</li>
      <li>Several weapons.</li>
      <li>Combat boat 90 and the HMS Visby Corvette</li>
    </ul>
  </p>

  <p>
    <h3>1981 scenario</h3>

    <ul>
      <li>Aj 37 Viggen Aircraft, famous for being the first plane outside NATO locking on the SR-71 Blackbird.</li>
      <li>Sturkö Island</li>
      <li>3 helicopters, (Alouette II, Uh-1, Ch46)</li>
      <li>The world famous "S-tank", the only tank without a turret.</li>
      <li>The Ikv 91, support tank.</li>
      <li>Several all terrain vehicles.</li>
    </ul>
  </p>
</div>

{% include downloads.html %}

{% include images_4_3.html %}

{% include videos.html %}
