<div class="container" id="downloads">
  <h2>Downloads</h2>

  {% if page.downloads.steam %}
    <div class="row">
      <div class="col-md-4">
        <strong class="d-block">Steam Workshop</strong>
        {% include downloads/steam_workshop.html id=page.downloads.steam %}
      </div>
    </div>
  {% endif %}

  {% if page.downloads.other %}
    {% for download in page.downloads.other %}
      <p>
        <a href="{{ download.link }}" class="btn btn-{{ download.color }} btn-lg">
          <span class="fa fa-save"></span>
          {{ download.title }}
        </a>
      </p>
    {% endfor %}
  {% endif %}
</div>
