<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Swedish Forces Pack</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Arma 3 <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/a3">Swedish Forces Pack</a></li>
            <li><a href="/a3/objects">Swedish Objects</a></li>
            <li><a href="/a3/sturko">Sturkö Island</a></li>
            <li><a href="/a3/wamako">Wamako Island</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Legacy <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/a2">Arma 2</a></li>
            <li><a href="/a1">Arma 1</a></li>
            <li><a href="/ofp">Operation Flashpoint</a></li>
          </ul>
        </li>

        <li><a href="https://discord.gg/xtdPhKF" target=_blank>Discord</a></li>

        <li><a href="https://trello.com/swedishforcespack" target=_blank>Issue Tracker</a></li>

        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
