<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Swedish Forces Pack</a>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="arma3-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Arma 3
          </a>
          <div class="dropdown-menu" aria-labelledby="arma3-dropdown">
            <a class="dropdown-item" href="/a3">Swedish Forces Pack</a>
            <a class="dropdown-item" href="/a3/finnish">Finnish Forces Pack</a>
            <a class="dropdown-item" href="/a3/markers">Swedish Markers</a>
            <a class="dropdown-item" href="/a3/objects">Swedish Objects</a>
            <a class="dropdown-item" href="/a3/sturko">Sturkö Island</a>
            <a class="dropdown-item" href="/a3/wamako">Wamako Island</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="legacy-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Legacy
          </a>
          <div class="dropdown-menu" aria-labelledby="legacy-dropdown">
            <a class="dropdown-item" href="/a2">Arma 2</a>
            <a class="dropdown-item" href="/a1">Arma 1</a>
            <a class="dropdown-item" href="/ofp">Operation Flashpoint</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/license">License</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
