---
title: Arma 1 | Swedish Forces Pack
images:
  -
    path: images/rbs56.jpg
    title: Rbs 56
  -
    path: images/strv122.jpg
    title: Strv 122
  -
    path: images/rb57.jpg
    title: Rb 57
  -
    path: images/ikv91.jpg
    title: Ikv 91
  -
    path: images/hkp15.jpg
    title: Hkp 15
  -
    path: images/strf90.jpg
    title: Strf 90
  -
    path: images/patgb203.jpg
    title: Patgb 203
  -
    path: images/pvpj1110.jpg
    title: Pvpj 1110
  -
    path: images/lvkv90.jpg
    title: Lvkv 90
  -
    path: images/viggen.jpg
    title: SAAB Viggen
  -
    path: images/russians.jpg
    title: Russians
  -
    path: images/ssg.jpg
    title: SSG
  -
    path: images/cobra.jpg
    title: AH-1 Cobra
  -
    path: images/police.jpg
    title: Police
  -
    path: images/rbs97.jpg
    title: Rbs 97
  -
    path: images/u137.jpg
    title: U137
videos:
  -
    id: P06abayiH08
    title: Fria Kriget
---

<div class="container">
  <h1>Arma 1</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Personal Weapons</h3>
      <ul>
        <li>Ak 4</li>
        <li>Ak 5</li>
        <li>Ksp 90</li>
        <li>Ksp 58</li>
        <li>Ag 90</li>
        <li>Psg 90</li>
        <li>P 40</li>
        <li>P 88</li>
        <li>Kpist m45</li>
        <li>P-Skott</li>
        <li>Rb 69</li>
        <li>Rb 57</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Weapon Systems</h3>
      <ul>
        <li>Rb 56</li>
        <li>Granatspruta MK19</li>
        <li>Grk m84</li>
        <li>SPG-9</li>
        <li>Pvpjäs 1110</li>
        <li>Lvakan m/48</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Vehicles</h3>
      <ul>
        <li>LvKv 90</li>
        <li>Strf 90</li>
        <li>Strv 122</li>
        <li>Ikv 91</li>
        <li>TGB 11</li>
        <li>AJ 37</li>
        <li>FN fordon</li>
        <li>U137</li>
        <li>Ptgb Landrover</li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="downloads">
  <h2>Downloads</h2>

  <p>
    <a href="http://hosted.anrop.se/arma/@sfp_revision15.rar" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-save"></span>
      SFP 5 for Arma 1, Revision 15
    </a>
  </p>

  <p>
    <a href="http://hosted.anrop.se/arma/@swe_voice.zip" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-save"></span>
      Swedish Voices for Arma 1
    </a>
  </p>
</div>

{% include images_16_9.html %}

{% include videos.html %}
