---
title: Arma 3 | Swedish Forces Pack
downloads:
  armaholic: 20042
  steam: 826911897
images:
  -
    path: images/soldiers.jpg
    title: Soldiers
  -
    path: images/grg.jpg
    title: GRG Loader
  -
    path: images/patgb360.jpg
    title: Patgb 360
  -
    path: images/winter_soldiers.jpg
    title: Winter soldiers
  -
    path: images/strv122.jpg
    title: Strv 122
  -
    path: images/strv122_kill.jpg
    title: Strv 122 kill
  -
    path: images/asw.jpg
    title: ASW
  -
    path: images/submarine.jpg
    title: Submarine
videos:
  -
    id: INyxIOWEAaY
    title: Showreel
  -
    id: GlWXJcNKniA
    title: Midsummer 2013 Release
  -
    id: 5JdwXZXr0Xs
    title: Armaholic Trailer
  -
    id: PMkGtNhZlVc
    title: Cinematic
  -
    id: sPVHDBgpPZY
    title: Baltic Escalation
---

<div class="container">
  <h1>Swedish Forces Pack</h1>
</div>

<div class="container">
  <h2>Description</h2>

  <p>
    Now on Steam, the original Swedish Armed Forces experience for ArmA.
    Established in 2002 and still going strong.
  </p>

  <p>
    The Swedish Forces Pack for Arma 3 features advanced missiles, buddy reload, more than 30 different vehicles, and a large assortment of weapons ranging from rifles, pistols, and disposable AT-launchers to heavy SAM systems and artillery guns.<br/>
    Also part of the package are modules for Anti-submarine Warfare, setting Unit Insignia and vehicle ID, as well as spawners for cluster bombs and anti-ship missiles to be used by a Zeus game master.
  </p>

  <p>
    With soldiers and weapons from the height of the Cold War in the 1980's to present day and beyond, in woodland, desert, and snow uniforms as well as Swedish police uniforms and equipment.
  </p>

  <p>
    To enjoy all of this over 15 missions for 2-40 players are included, covering both adversarial and cooperative game-modes.
  </p>
</div>

<div class="container">
  <h2>Features</h2>

  <div>
    <h3>Eras</h3>
    <ul>
      <li>2000-2015 - contemporary equipment and weapons, with woodland, desert, and special forces soldiers, as well as an assortment of sea, land and air vehicles.</li>
      <li>1990-2000 - post-Cold War with an abundance of iconic equipment from the period such as the Hkp 9 and Stridsvagn 121, and soldiers with both summer and winter gear.</li>
      <li>1980-1990 - late Cold War era, perfect for your own "Whisky on the rocks" mission or why not tank battles with Strv 102, 103B/C, and Ikv 91.</li>
      <li>2016-2035 - modern UN peacekeepers and vehicles.</li>
    </ul>
  </div>

  <div>
    <h3>Vehicles</h3>

    <div>
      <h4>Aircraft: Fixed-wing</h4>
      <ul>
        <li>JAS 39C Gripen - With full support for pylons to equip weapons such as Rbs 15F, Rb 98 (IRIS-T), Rb 99 (AMRAAM), Rb 75, GBU 39, or laser-guided JDAMs, as well as the infamous Bombkapsel 90. Now also equipped with a sensor suite worthy of a world class fighter.</li>
        <li>S100B Argus - a Swedish Airborne Early Warning radar aircraft. It is equipped with a very powerful radar to provide a complete picture of the battlefield.</li>
        <li>Tp 84 - the Swedish designation for the C-130 transport aircraft. With vehicle-in-vehicle support.</li>
      </ul>
    </div>
    
    <div>
      <h4>Aircraft: Rotary-wing</h4>
      <ul>
        <li>Hkp 4 - the Swedish-adopted Boeing Vertol 107, known as the CH-46 when used by the USMC.</li>
        <li>Hkp 6 - the designation of the Bell 206 light utility helicopter when in Swedish service.</li>
        <li>Hkp 9 - the BO-105: a highly manoeuvrable light utility and anti-tank helicopter.</li>
        <li>Hkp 16 - the Swedish designation for the UH-60 Blackhawk utility and transport helicopter.</li>
      </ul>
    </div>

    <div>
      <h4>Armoured Vehicles</h4>
      <ul>
        <li>Grkpbv 120 - the AMOS (Advanced MOrtar System) in a CV90 hull.</li>
        <li>Ikv 91 - a highly mobile light tank armed with a 90mm L/54 rifled low pressure gun.</li>
        <li>Lvkv 90 - The SPAAG variant of the Strf 90 IFV, now with a fully functional radar and data link.</li>
        <li>Strf 90C - a infantry fighting vehicle capable of carrying 6 infantrymen, armed with a 40mm Bofors autocannon it packs quite a punch. With firing from vehicle support, four soldiers can fight from hatches on the back of the vehicle.</li>
        <li>Strv 103B/C - the famous S-tank, complete with a working driver/gunner gun laying system using the tracks.</li>
        <li>Strv 121 - leased Leopard 2A4s adapted for service in the Swedish army.</li>
        <li>Strv 122 - the modernized Leopard 2 of Swedish flavour.</li>
        <li>Patgb 203 - a three-axle wheeled APC armed with a 20mm autocannon, better known as the Patria Xa-203.</li>
        <li>Patgb 360 - a quad-axle wheeled APC, marketed as the Patria AMV. It is equipped with an M2 machine gun mounted in a Vapenstation 01 remote weapon station and carries 8 infantrymen in the back.</li>
      </ul>
    </div>
    
    <div>
      <h4>Boats</h4>
      <ul>
        <li>G-class landing craft - a small boat for transportation of squad-sized elements.</li>
        <li>HMS Neptun - a functional 50m long submarine. It is armed with torpedoes.</li>
        <li>HMS Norrköping - a missile boat with an advanced fire control system, enabling you to fire missiles on targets up to 5 kilometers away.</li>
        <li>Strb 90H - a Swedish Fast Attack Craft capable of transporting (H)alf a platoon of fully equipped marines at speeds up to 40 knots. Armed with three .50-cal Ksp 88's, one in a manned turret, and two in a fixed forward-firing mount.</li>
        <li>Svävare 2000 - a hovercraft in use by the Swedish Amphibious Corps, comes in both troop and vehicle transport variants and has full vehicle in vehicle support.</li>
      </ul>
    </div>
    
    <div>
      <h4>Trucks and Transports</h4>
      <ul>
        <li>Bv 206 - a light tracked all terrain troop transport vehicle manufactured by Hägglunds.</li>
        <li>Tgb 11, 20, and 30 - three families of transport and logistics vehicles, some armed, some unarmed.</li>
        <li>Tgb 16 - the BAE RG-32M mine resistant light armoured car in use by the Swedish Armed Forces. It can optionally be armed with a Vapenstation 01 RWS.</li>
        <li>Tent 12 - a military tent capable of housing 8 soldiers.</li>
      </ul>
    </div>

  </div>
  
  <div>
    <h3>Weapons</h3>

    <div>
      <h4>Anti-tank and Anti-air Launchers</h4>
      <ul>
        <li>GRG m/86 - the Carl Gustaf, also known as the M3 MAAWS, "the Goose", "Charlie G" and more. It fires a number of different types of 84mm ammunition, and can be put to use against armour as well as infantry and low-flying aircraft. Comes with native buddy reload, and supports ACE's buddy reload system as well.</li>
        <li>Pansarskott m/68 Miniman - a 74mm disposable single-shot recoilless anti-tank weapon.</li>
        <li>Pansarskott m/86 - the AT4 84mm disposable single-shot recoilless anti-tank weapon.</li>
        <li>RBS 57 - the NLAW, a shoulder fired fire-and-forget anti-tank missle. Accompanied by ACE3 it features advanced targeting modes and overfly top attack.</li>
        <li>RBS 69 - the FIM-43 Redeye MANPADS, a light antiaircraft weapon that is effective against any type of aircraft.</li>
      </ul>
    </div>

    <div>
      <h4>Anti-tank and Anti-air Turrets</h4>
      <ul>
        <li>RBS 17 - the Hellfire Shore Defense System (HSDS), in use in the Swedish Amphibious Corps.</li>
        <li>RBS 55 - the BGM-71 TOW-2 anti-tank missile system which has been a mainstay of the Swedish army's anti-tank capabilities since the middle of the Cold War.</li>
        <li>RBS 56 BILL - a man-portable SACLOS medium anti-tank missile system.</li>
        <li>RBS 70 - a Swedish beam-riding light anti-air missile system.</li>
        <li>RBS 97 - the MIM-23 HAWK in Swedish service.</li>
      </ul>
    </div>

    <div>
      <h4>Artillery</h4>
      <ul>
        <li>7.5cm m/57 turret gun - a light coastal defense gun. Built in large numbers these were common if well hidden along the Swedish coastline during the Cold War.</li>
        <li>Fh 77 - a Swedish-made field howitzer.</li>
        <li>GRK m/84 - an 81mm medium mortar. With full support for the ACE3 Mk6 mortar loading and firing system.</li>
      </ul>
    </div>

    <div>
      <h4>Grenades</h4>
      <ul>
        <li>Shgr 56 - a Swedish fragmentation grenade with a 3.5 second fuse.</li>
        <li>Shgr 2000 - an improved Swedish fragmentation grenade with a 3.5 second fuse.</li>
        <li>Shgr 07 - a modern fragmentation grenade with the amazing feature that it jumps 1.5 meters into the air before detonating.</li>

      </ul>
    </div>

    <div>
      <h4>Pistols</h4>
      <ul>
        <li>SIG P226 - one of the pistols currently used by the Swedish Police Authority.</li>
        <li>Pistol 88 - the Swedish label for the Glock 17.</li>
        <li>Signalpistol 80 - a Swedish signal and illumination flare gun.</li>
      </ul>
    </div>
   
    <div>
      <h4>Rifles</h4>
      <ul>
        <li>Ag 90 - the Barrett M82A1 12.7x99mm NATO semi-automatic antimateriel rifle.</li>
        <li>Ak4 - the iconic H&amp;K G3A3 modified for Swedish use. The versions featured are models A through D, with models B, C, and D equipped with a MIL-STD-1913 rail for optics. Models C and D also feature the Spuhr adjustable G3 stock, and model D is also equipped with the Spuhr G3 forend.</li>
        <li>Ak5 - the FN FNC with a Swedish twist. Models A through D are featured, together with a number of accessories such as the DBAL-2, Aimpoint CS, and the Aimpoint 3x Magnifier. (CBA A3 is required for switching between 1x and 3x magnification.)</li>
        <li>CBJ MS - an experimental PDW chambered in 6.5x25mm CBJ, manufactured by SAAB Bofors Dynamics.</li>
        <li>H&amp;K MP5 - the iconic German submachinegun, with and without a rail for optics.</li>
        <li>Kpist m/45 - the "Swedish K", a fully automatic submachinegun used by the Swedish Armed Forces between 1945 and 2007.</li>
        <li>Ksp 90B/C - the FN MINIMI light machinegun.</li>
        <li>Ksp 58B - the FN MAG, with and without rails for optics.</li>
        <li>Psg 90 - the improved Arctic Warfare model of the Accuracy International L96A1 sniper rifle.</li>
        <li>Remington 870 - a 12-gauge shotgun.</li>
      </ul>
    </div>

    <div>
      <h4>Modules and Features</h4>
      <ul>
        <li>Anti-submarine Warfare Module - Slingloadable hydrophones, and depth charges for chasing off your favourite Soviet submarine.</li>
        <li>Insignia Module - With over 30 different unit patches you need an easy way to set them on all your Swedish soldiers.</li>
        <li>Helicopter Numbers Module - Make it easy to distinguish between different helicopters by setting custom numbers for each of them.</li>
        <li>Vehicle ID Letters - Make it easy to distinguish between different tanks, trucks or IFV's by taping the vehicle's callsign on it.</li>
        <li>Bk 90 and Rbs 15 Spawners for Zeus - Got a field covered with armoured vehicles, or a ship that just really needs to be taken out? Drop one of these and your problem will be no more.</li>
      </ul>
    </div>

  </div>

</div>

{% include downloads.html %}

{% include images_16_9.html %}

{% include videos.html %}

<div class="container">
  <h2>Compability</h2>

  <div>
    <strong>ACE3</strong>
    <p>
      We do our best to be 100% compatible with ACE, and to implement new features.
      Some features requires a dependency on ACE which are kept in a separate compatibility mod.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="2282227267"
      %}
    </p>
  </div>

  <div>
    <strong>ACRE</strong>
    <p>
      Radio systems for infantry.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="751965892"
      %}
    </p>
  </div>

  <div>
    <strong>ALIVE</strong>
    <p>
      Spawnable groups using the SFP factions.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620260972"
      %}
    </p>
  </div>

  <div>
    <strong>Community Base Addons A3</strong>
    <p>
      All optics should be usable thanks to ASDG JR support in CBA A3
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="450814997"
      %}
    </p>
  </div>

  <div>
    <strong>ITC</strong>
    <p>
      Integrates SFP artillery systems with ITC Land Systems.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="2276396320"
      %}
    </p>
  </div>

  <div>
    <strong>JSRS</strong>
    <p>
      More immersive sounds for weapons and vehicles.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="1205570929"
      %}
    </p>
  </div>

  <div>
    <strong>TFAR</strong>
    <p>
      Radio system for both infantry and vehicles.
      Our Ericsson Ra 145/146 and Ra 180 backpack radios are fully compatible with TFAR.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620019431"
      %}
    </p>
  </div>
</div>
