---
title: Arma 3 | Swedish Forces Pack
images:
  -
    path: images/strv122.jpg
    title: Strv 122
  -
    path: images/strv122_kill.jpg
    title: Strv 122 kill
  -
    path: images/winter_soldiers.jpg
    title: Winter soldiers
videos:
  -
    id: INyxIOWEAaY
    title: Showreel
  -
    id: GlWXJcNKniA
    title: Midsummer 2013 Release
  -
    id: 5JdwXZXr0Xs
    title: Armaholic Trailer
  -
    id: PMkGtNhZlVc
    title: Cinematic
  -
    id: sPVHDBgpPZY
    title: Baltic Escalation
---

<div class="container">
  <h1>Swedish Forces Pack</h1>
</div>

<div class="container">
  <h2>Description</h2>

  <p>
    Now on Steam, the original swedish armed forces experience for ArmA.
    Established in 2002 and still active today.
  </p>

  <p>
    The Swedish Forces Pack (SFP) features for example advance missiles, buddy reload, backblast, "random" numbers on helicopters.
    More than 30 new completely new vehicles, including airplanes, helicopters, drones, jeeps and boats.
  </p>

  <p>
    With soldiers and weapons from the UN operations in Congo in the 1960's to present day and beyond, in woodland, desert, and snow uniforms.
  </p>

  <p>
    To enjoy all of this over 15 missions for 2-40 players are included, covering both adversarial and cooperative game-modes.
  </p>

  <p>
    But wait! There is more! If you download now we also include Swedish police uniforms, and some criminals to play with.
  </p>
</div>

<div class="container">
  <h2>Features</h2>

  <div>
    <h3>Eras</h3>
    <ul>
      <li>2000-2015, contemporary equipment and weapons, with UN, Woodland, and special forces variations as well as an assortment of sea, land and air vehicles.</li>
      <li>1990-2000, post-cold war with an abundance of iconic equipment from the period such as the Hkp 9.</li>
      <li>1980-1990, late cold war era, perfect for your own "Whisky on the rocks"-esque mission.</li>
      <li>1960-1964, Swedish troops and planes modelled on the troops that were sent to Congo during the Congo Crisis as part of UN's ONUC operations.</li>
      <li>2016-2035, for experimental or limited use equipment, such as the nEUROn UCAV, the Skeldar UAV, and much more.</li>
    </ul>
  </div>

  <div>
    <h3>Vehicles</h3>
    <ul>
      <li>Hms Norrköping, torpedo/missile patrol boat with a fire control radar, enabling you to fire missiles on targets up to 5 kilometers away.</li>
      <li>Tgb 16, the BAE RG-32M mine resistant light armoured car in use by the Swedish Armed Forces.</li>
      <li>Tgb 11, 20, and 30 families of transport and logistics vehicles, some armed, some unarmed.</li>
      <li>Bv 206, a light tracked all terrain troop transport vehicle.</li>
      <li>Strv 122, the Leopard 2 of Swedish flavour.</li>
      <li>JAS 39C Gripen, the indigenous multirole fighter developed by SAAB. It is equipped for missions ranging from Combat Air Patrol, to CAS-missions of various kinds. Weapons such as Rb 15F, Rb 98 (IRIS-T), Rb 99 (AMRAAM), Rb 75, GBU 39 - the SDB (Small Diameter Bomb), or laser-guided JDAMs, as well as the infamous Bombkapsel 90.</li>
      <li>J29 Tunnan, a record-holding fighter of SAAB manufacture. Saw combat in Congo as part of the ONUC air wing.</li>
      <li>Patgb 203, a three-axle wheeled APC, better known as the Patria Xa-203.</li>
      <li>G-class landing craft, a small boat for transportation of squad-sized elements.</li>
      <li>Hms Näcken and Hms Neptun, two submarines, currently suitable as props due to limited engine support.</li>
      <li>Ikv 91, a highly mobile light tank armed with a 90mm L/54 rifled low pressure gun.</li>
      <li>Strf 90C, a infantry fighting vehicle capable of carrying 6 infantrymen, armed with a 40mm Bofors autocannon it packs quite a punch. Firing from vehicle support is pending.</li>
      <li>Hkp 4, the Swedish-adopted Boeing Vertol 107, better known as the CH-46 used by the USMC.</li>
      <li>Hkp 9, a light transport and anti-tank helicopter.</li>
      <li>Grkpbv 120, the AMOS (Advanced MOrtar System) in a CV90 hull.</li>
      <li>Strb 90H, a Swedish Fast Attack Craft capable of transporting (H)alf a platoon of fully equipped marines at speeds up to 40 knots. Armed with three .50-cal Ksp 88's, one in a manned turret, and two in a fixed forward-firing mount.</li>
      <li>Tent 12, a tent - yes you read right, a tent - capable of housing 8 soldiers.</li>
      <li>Fh 77, a Swedish-made field howitzer.</li>
      <li>Svävare 2000, a hovercraft in use by the Swedish Amphibious corps, comes in both troop and vehicle transport variants.</li>
    </ul>
  </div>

  <div>
    <h3>Weapons</h3>
    <ul>
      <li>Ak4, the iconic H&amp;K G3A3 modified for Swedish use. The versions featured are models A through D, with models B, C, and D equipped with a MIL-STD-1913 rail for optics. Models C and D also feature the Spuhr adjustable G3 stock, and model D is also equipped with the Spuhr G3 forend.</li>
      <li>Ak5, the FN FNC with a Swedish twist. Models A through D are featured, together with a number of accessories such as the DBAL-2, Aimpoint CS, and the Aimpoint 3x Magnifier. (CBA A3 is required for switching between 1x and 3x magnification.)</li>
      <li>H&amp;K MP5, the iconic German submachinegun, with and without a rail for optics.</li>
      <li>Kpist m/45, the "Swedish K", a automatic-only submachinegun used by the Swedish Armed Forces between 1945 and 2007.</li>
      <li>Shgr 56, 2000, and 07. A trio of Swedish hand grenades.</li>
      <li>Ksp 90B/C, the FN MINIMI light machinegun.</li>
      <li>Ksp 58, the FN MAG, with and without rails for optics. New and improved model for 2017.</li>
      <li>Psg 90, the improved Arctic Warfare model of the Accuracy International L96A1.</li>
      <li>SIG P226, one of the pistols currently used by the Swedish Police Authority.</li>
      <li>Pistol 88, the Swedish label for the Glock 17.</li>
      <li>Remington 870, a 12-gauge shotgun.</li>
      <li>CBJ MS, an experimental PDW chambered in 6.5x25mm CBJ, manufactured by SAAB Bofors Dynamics.</li>
      <li>GRG m/86, the Carl Gustaf, also known as the M3 MAAWS, "the Goose", "Charlie G" and more. It fires a number of different types of 84mm ammunition, and can be put to use against armour as well as infantry and low-flying aircraft. Comes with native buddy reload, and supports ACE's buddy reload system as well.</li>
      <li>Ag 90, the Barrett M82A1 12.7x99mm NATO semi-automatic sniper rifle.</li>
      <li>RBS 17, the Hellfire Shore Defense System (HSDS), in use in the Swedish Amphibious Corps.</li>
      <li>GRK m/84, a 81mm medium mortar. With full support for the ACE3 Mk6 mortar loading and firing system.</li>
      <li>RBS 56 BILL, a man-portable SACLOS anti-tank system.</li>
      <li>RBS 70, a Swedish MANPADS system.</li>
      <li>RBS 97, the MIM-23 HAWK in Swedish service.</li>
    </ul>
  </div>

  <p>
    <i>And much more.</i>
  <p>
</div>

<div class="container" id="downloads">
  <h2>Downloads</h2>

  <div class="row">
    <div class="col-md-4">
      <strong>Steam Workshop</strong>
      {%
        include downloads/steam_workshop.html
        id="826911897"
      %}
    </div>

    <div class="col-md-4">
      <strong>Armaholic</strong>
      {%
        include downloads/armaholic.html
        id="20042"
      %}
    </div>

    <div class="col-md-4">
      <strong>withSIX</strong>
      {%
        include downloads/withsix.html
        link="http://withsix.com/p/Arma-3/mods/bCScK_d14xGDcQAVF72WTA/Swedish-Forces-Pack"
      %}
    </div>
  </div>
</div>

{% include images_16_9.html %}

{% include videos.html %}

<div class="container">
  <h2>Compability</h2>

  <div>
    <strong>ACE3</strong>
    <p>
      We do our best to be 100% compatible with ACE, and to implement new features.
      Let us know if we aren't.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="463939057"
      %}
    </p>
  </div>

  <div>
    <strong>ACRE</strong>
    <p>
      Radio systems for infantry.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="751965892"
      %}
    </p>
  </div>

  <div>
    <strong>ALIVE</strong>
    <p>
      Spawnable groups using the SFP factions
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620260972"
      %}
    </p>
  </div>

  <div>
    <strong>Community Base Addons A3</strong>
    <p>
      All optics should be usable thanks to ASDG JR support in CBA A3
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="450814997"
      %}
    </p>
  </div>

  <div>
    <strong>JSRS</strong>
    <p>
      More immersive sounds
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="1205570929"
      %}
    </p>
  </div>

  <div>
    <strong>TFAR</strong>
    <p>
      Radio system for both infantry and vehicles.
      When using TFAR, the Swedish soldiers will use a Ericsson Radio 180.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620019431"
      %}
    </p>
  </div>
</div>
