---
title: Operation Flashpoint | Swedish Forces Pack
images:
  -
    path: images/aj37.jpg
    title: SAAB Viggen AJ 37
  -
    path: images/gbat.jpg
    title: Gruppbåt
  -
    path: images/hkp4.jpg
    title: Hkp 4 and Hkp 14
  -
    path: images/hkp9.jpg
    title: Hkp 9
  -
    path: images/hkp10.jpg
    title: Hkp 10
  -
    path: images/ja37.jpg
    title: SAAB Viggen JA 37
  -
    path: images/lvkv90.jpg
    title: Lvkv 90
  -
    path: images/pbv302.jpg
    title: Pbv 302
  -
    path: images/sk60.jpg
    title: Sk 60
  -
    path: images/strb90.jpg
    title: Strb 90
  -
    path: images/strv122.jpg
    title: Strv 122
  -
    path: images/tgb20.jpg
    title: Tgb 20
  -
    path: images/tgb1111.jpg
    title: Tgb 1111 with Pvpj 1110
  -
    path: images/visby.jpg
    title: HMS Visby
  -
    path: images/zodiac.jpg
    title: Zodiac
videos:
  -
    id: AVT9hiKQ9dY
    title: Mechanized Warfare
  -
    id: 7q2qcnhOqDU
    title: AJS 37 Viggen
---

<div class="container">
  <h1>Operation Flashpoint</h1>
</div>

<div class="container">
  <p>
    That's right folks, this is the day you have all been waiting for since the end of 2003, the day that SFP 4 is released to the public!
  </p>

  <p>
    Two long years have we worked on this, and boy have we made some changes since SFP 3.0.
    No part of SFP 3.0 has been left unchanged, everything has been updated, modified and in some cases completely redone.
    A lot has been added to what was already present in 3.0, and we can guarantee that the SFP 4 experience is heaps better than the SFP 3.0 experience.
  </p>

  <p>
    Over 50 small arms and support weapons are available, over 250 soldiers to choose from in the mission editor.
    You can drive around the country-side in 5 different vehicles, roll around safely in 10 different armoured vehicles, or soar above the battlefield in one of the 9 aircraft available.
  </p>
</div>

<div class="container" id="downloads">
  <h2>Downloads</h2>

  <p>
    <a href="http://hosted.anrop.se/ofp/SFP4_Full.zip" class="btn btn-primary btn-lg">
      <span class="fa fa-save"></span>
      SFP 4.1.7 for Operation Flashpoint
    </a>
  </p>

  <p>
    <a href="http://hosted.anrop.se/ofp/SFP-missions.rar" class="btn btn-secondary btn-lg">
      <span class="fa fa-save"></span>
      Multiplayer Missions for SFP 4.1.7
    </a>
  </p>

  <p>
    <a href="http://hosted.anrop.se/ofp/Darkstar-Voice.zip" class="btn btn-secondary btn-lg">
      <span class="fa fa-save"></span>
      Swedish Voices for Operation Flashpoint
    </a>
  </p>
</div>

{% include images_4_3.html %}

{% include videos.html %}
