---
title: Finnish Forces Pack
images:
  -
    path: images/soldiers.jpg
    title: Soldiers
  -
    path: images/bmp2.jpg
    title: BMP-2
  -
    path: images/leopard2a4.jpg
    title: Leopard 2A4
  -
    path: images/f18.jpg
    title: F/A-18
  -
    path: images/md500.jpg
    title: MD-500
  -
    path: images/mlrs.jpg
    title: MLRS
  -
    path: images/gboat.jpg
    title: G-class boat
videos:
  -
    id: g5UPtvNpGxI
    title: Finnish Forces Pack Trailer
---

<div class="container">
  <h1>Finnish Forces Pack</h1>
</div>

<div class="container">
  <h2>Description</h2>

  <p>
    This is a tribute to the orginal FDF mod for Operation Flashpoint.
    One of the best (if not the best) mod ever made for the Ofp/ArmA series.
  </p>

  <p>
    We also like to say thanks to ArmA3Finland for hosting some really good PvP against Sweden.
  </p>

  <p>
    This tribute was made by members of the Swedish Forces Pack, mostly however by Megadeth, granQ, Vccv90, coding/servers by Dahlgren and trailers and videos are made by Sango.
  </p>
</div>

<div class="container">
  <h2>Features</h2>

  <div>
    <h3>Vehicles</h3>
    <ul>
      <li>BMP-2</li>
      <li>Leopard 2A4</li>
      <li>Leopard 2A6</li>
      <li>MLRS</li>
      <li>F/A-18C</li>
      <li>F/A-18D</li>
      <li>MD-500</li>
      <li>G-class boat</li>
    </ul>
  </div>

  <div>
    <h3>Static Weapons</h3>
    <ul>
      <li>122 H 63</li>
      <li>RBS 70</li>
      <li>TOW</li>
    </ul>
  </div>

  <div>
    <h3>Weapons</h3>
    <ul>
      <li>Rk95</li>
      <li>PKM</li>
      <li>NLAW</li>
      <li>KES 88</li>
    </ul>
  </div>
</div>

<div class="container" id="downloads">
  <h2>Downloads</h2>

  <div class="row">
    <div class="col-md-4">
      <strong>Steam Workshop</strong>
      {%
        include downloads/steam_workshop.html
        id="917042703"
      %}
    </div>

    <div class="col-md-4">
      <strong>Armaholic</strong>
      {%
        include downloads/armaholic.html
        id="32754"
      %}
    </div>

    <div class="col-md-4">
      <strong>withSIX</strong>
      {%
        include downloads/withsix.html
        link="http://withsix.com/p/Arma-3/mods/alMWxl5wPEGxzlw_zxlxnA/SFP-Finnish-Forces-Pack"
      %}
    </div>
  </div>
</div>

{% include images_16_9.html %}

{% include videos.html %}

<div class="container">
  <h2>Compability</h2>

  <div>
    <strong>ACE3</strong>
    <p>
      We do our best to be 100% compatible with ACE, and to implement new features.
      Let us know if we aren't.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="463939057"
      %}
    </p>
  </div>

  <div>
    <strong>ACRE</strong>
    <p>
      Radio systems for infantry.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="751965892"
      %}
    </p>
  </div>

  <div>
    <strong>ALIVE</strong>
    <p>
      Spawnable groups using the FFP factions
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620260972"
      %}
    </p>
  </div>

  <div>
    <strong>Community Base Addons A3</strong>
    <p>
      All optics should be usable thanks to ASDG JR support in CBA A3
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="450814997"
      %}
    </p>
  </div>

  <div>
    <strong>JSRS</strong>
    <p>
      More immersive sounds
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="1220451406"
      %}
    </p>
  </div>

  <div>
    <strong>TFAR</strong>
    <p>
      Radio system for both infantry and vehicles.
      When using TFAR, the Swedish soldiers will use a Ericsson Radio 180.
    </p>

    <p>
      {%
        include downloads/steam_workshop.html
        id="620019431"
      %}
    </p>
  </div>
</div>
