---
title: Sturkö | Swedish Forces Pack
images:
  -
    path: images/map.jpg
    title: Sturkö
videos:
  -
    id: A2_SBg8M8H0
    title: Sturkö Trailer
  -
    id: yJa0YNBYP1g
    title: U 137 - Jägarförbandet (SVT, 1981)
---

<div class="container">
  <h1>Sturkö</h1>
</div>

<div class="container">
  <h2>Background</h2>

  <p>
    In 1981, a Soviet submarine was discovered in the morning just outside the Swedish naval base, it claimed it was a navigation error but things quickly escalated.
    The Russians sent a "rescue" party while the Swedish primeminister gave the order "Hold the border", instructing the military to shoot if any ships crossed the border.
  </p>

  <p>
    Luckily, after a few days the submarine was returned to Russia and the crises was over, but this was the Swedish "cuban crises".
  </p>

  <p>
    More information here: <a href="https://en.wikipedia.org/wiki/Soviet_submarine_S-363" target=_blank>https://en.wikipedia.org/wiki/Soviet_submarine_S-363</a>
  </p>
</div>

<div class="container" id="downloads">
  <h2>Downloads</h2>

  <div class="row">
    <div class="col-md-4">
      <strong>Armaholic</strong>
      {%
        include downloads/armaholic.html
        id="29439"
      %}
    </div>

    <div class="col-md-4">
      <strong>withSIX</strong>
      {%
        include downloads/withsix.html
        link="https://withsix.com/p/Arma-3/mods/30Jm-b8KJkqjs65XuxtShw/SFP-Sturk%C3%B6-Island"
        image="http://withsix-usercontent.azureedge.net/mod/f96642df-0abf-4a26-a3b3-ae57bb1b5287/logos/banner-420x120.png"
      %}
    </div>
  </div>
</div>

{% include images_4_3.html %}

{% include videos.html %}
