---
title: Sturkö | Swedish Forces Pack
downloads:
  steam: 914229902
images:
  -
    path: images/map.jpg
    title: Sturkö
videos:
  -
    id: A2_SBg8M8H0
    title: Sturkö Trailer
  -
    id: yJa0YNBYP1g
    title: U 137 - Jägarförbandet (SVT, 1981)
---

<div class="container">
  <h1>Sturkö</h1>
</div>

<div class="container">
  <h2>Background</h2>

  <p>
    On the 27 October 1981 at approximatly 20.00, a Soviet submarine ran aground on a skerry in Gåsefjärden, just 10km from one of Swedens largest naval bases, Karlskrona.
    The Russians sent a "rescue" party while the Swedish primeminister gave the order "Hold the border", instructing the military to shoot if any ships crossed the border.
  </p>

  <p>
    Luckily, after a few days the submarine was returned to Russia and the crisis was over, but this was Swedens "Cuban Missile Crisis".
  </p>

  <p>
    More information here: <a href="https://en.wikipedia.org/wiki/Soviet_submarine_S-363" target=_blank>https://en.wikipedia.org/wiki/Soviet_submarine_S-363</a>
  </p>
</div>

{% include downloads.html %}

{% include images_4_3.html %}

{% include videos.html %}
